html, body {
	height: 100%;
	background-image: url("images/moonrise.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	background-attachment: fixed
}

h1 {
	margin-left: 50px;
	display: inline;
	text-transform: uppercase; 
}

#inlin {
	display: inline;
}

h4 {
	margin-left: 0px;
	display: inline;
	font-family: Serif;
}

#OverviewView {
	display:none;
}

#confirmbutton {
	display:none;
}


#confirmbutton {
	display:none;

}

#header {
	display:none;
}

#SearchView {
	display:none;
}

#CreateNewView {
	display:none;
}

#confirmbutton {
	display:none;

}



#pic{ 
  background: url(images/kikare.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1.headtitle {
	color: white;
	font-size: 28pt;
	font-weight: lighter;
}

h3.headundertitle{
	font-size: 20px;
	padding-top: 0px;
	margin-top: 0px;
	letter-spacing: 4px;
	font-style: italic;
	font-weight: lighter;
	color:rgba(255,255,255,1);
}

#ruta {
	padding: 18px;
	margin: auto;
	width: 600px;
	height: 100px;
	border:solid #fff 1px;
}

h2 {
	margin-left: 10px;

}


h5 {
	display:inline;

}

li {
    list-style-type: none;

}

img{
	height:100px;
}

.column.over {
  border: 2px dashed #000;
}


table.padded td { 
	padding:10px 0px 0px 10px; 
}

#dropDiv {
	width:100%;
	height:300px;
	border:solid 1px #ccc;
}


.desc {
	display: none;
}

.container {
	width: 100%;
}

.movie {
	padding: 10px;
	color:white;
	margin-bottom: 5px;
	border: 1px solid #fff;
	background-color:rgba(0,0,0,0.4);
}

#dropdiv{
	height:90%;

}

#searchf {
	margin-top:10px;
}

#selected {
	padding: 200px;
	color: #cccccc;
}

#sel1, #datepicker {
	display: inline;
}

#MarathonName, #Place, #datepicker, #sel1 {
	color: white;
	border-radius: 0px;
	border: white 0px solid;
	background-color:rgba(0,0,0,0.4);
}

#searchword, #searchbutton, #submitbutton, #backbutton, #printbutton {
	color: white;
	border-radius: 0px;
	border: white 1px solid;
	background-color:rgba(0,0,0,0.4);
}

.item:nth-child(odd) .movie {
    background-color: red;
}

#header {
	padding:2%;
	background-color:rgba(0,0,0,0.4);
	text-align: center;
}

.lsmall {
	font-size: 12px;
	color: #fff;
	line-height: 16px;
}

#otest, .he  {
	margin-top: 5px;
	margin:0px;
	padding: 4px;
	width: 100%;
	color: white;
	background-color:rgba(0,0,0,0.4);
}

h3.he, h5.he,  {
	margin:0px;
	padding: 4px;
	width: 100%;
	color: white;
	text-transform: uppercase;
	background-color:rgba(0,0,0,0.4);
	text-align: center;
}

#marathonField {
	display:none;
	color: #fff;
	margin-top: 0px;
}

input#MarathonName, input#Place {
	width:350px;
	border: none;
}


#Marathon {
	display:none;
	padding:15px 10px 15px 0px;
	border: 1px solid #fff;
    background-color:rgba(0,0,0,0);
}

#row{
	font-size: 45pt; 
	font-family: Arial; 
	background-color: #FF8C7A; 
	margin-left: 10%;
}

.row {
	padding-top:20px;
}

#searchView{
	border-right: solid;
	border-color: #000000;
}
#marathonListView{
	border-right: solid;
	border-color: #000000;
}

.scrollable-menu{
	height: auto;
	max-height: 100px;
	overflow-x: hidden;
}

.myButton {
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	background-color:rgba(0,0,0,0.2);
	color:#ffffff;
	font-family:Helvetica;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background-color:rgba(0,0,0,0.4);
}
.myButton:active {
	position:relative;
	top:1px;
}



.round-button {
   	position:relative;
  	float:right;
    display:inline;
    width:30px;
    height:30px;
    line-height:24px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    background: rgba(92,137,226,0.85);
    box-shadow: 0 0 3px gray;
    font-size:15px;
    cursor: pointer;
    display: none;


}
.round-button:hover {
    background: rgba(70,80,226,0.85);
}

#Time{
	width: 80px;
}
#datepicker{
	width: 60px;
}


