html, body {
	height: 100%;
}

h1 {
	margin-left: 50px;
	display: inline;
	text-transform: uppercase; 
}

h2 {
	margin-left: 10px;

}

h3{
	margin-left: 10px;
	display: inline;
}

table.padded td { 
	padding:10px 0px 0px 10px; 
}

.desc {
	display: none;
}

.container {
	width: 100%;
}

.movie {
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #C1E0FF;
}

#header {
	padding:2%;
	background-color:rgba(226,255,247,0.85);
}

#marathonField {
	display:none;
}

#row{
	font-size: 45pt; 
	font-family: Arial; 
	background-color: #FF8C7A; 
	margin-left: 10%;
}
#searchView{
	border-right: solid;
	border-color: #000000;

}
#marathonListView{
	border-right: solid;
	border-color: #000000;

}





