html, body {
	height: 100%;
}

h1 {
	margin-left: 50px;
	display: inline;
	text-transform: uppercase; 
}

#OverviewView {
	display:none;
}

#StartView {
	display:none;
}

#confirmbutton {
	display:none;
}

#StartView{
	display: none;

}

h1.headtitle {
	color:rgba(255,255,255,1);
}

h2 {
	margin-left: 10px;

}

h5 {
	display:inline;
}

li {
    list-style-type: none;

}

img{
	height:100px;
}

.column.over {
  border: 2px dashed #000;
}


table.padded td { 
	padding:10px 0px 0px 10px; 
}

#dropDiv {
	width:100%;
	height:300px;
	border:solid 1px #ccc;
}

h3.h3styled{
	margin-left: 20px;
	font-size: 20px;
	font-style: italic;
	color:rgba(255,255,255,1);
	display: inline;
}

.desc {
	display: none;
}

.container {
	width: 100%;
}

.movie {
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #C1E0FF;

}
#dropdiv{
	height:90%;

}

#searchf {
	margin-top:10px;
}

.item:nth-child(odd) .movie {
    background-color: red;
}

#header {
	padding:2%;
	background-color:rgba(92,137,226,0.85);
}

#marathonField {
	display:none;
	margin-top: 0px;
}

input#MarathonName, input#Place {
	width:350px;
	border: none;
}


#Marathon {
	display:none;
	padding:15px 10px 15px 0px;
	border: 2px solid #f5f5f5;
    border-radius: 5%;
    background-color:rgba(92,137,226,0.85);
}

#row{
	font-size: 45pt; 
	font-family: Arial; 
	background-color: #FF8C7A; 
	margin-left: 10%;
}

#searchView{
	border-right: solid;
	border-color: #000000;
}
#marathonListView{
	border-right: solid;
	border-color: #000000;
}

.scrollable-menu{
	height: auto;
	max-height: 100px;
	overflow-x: hidden;
}

.myButton {
-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
box-shadow:inset 0px 1px 0px 0px #dcecfb;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
background-color:#bddbfa;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #84bbf3;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
background-color:#80b5ea;
}
.myButton:active {
position:relative;
top:1px;
}



.round-button {
   	position:relative;
  	float:right;
    display:inline;
    width:30px;
    height:30px;
    line-height:24px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    background: rgba(92,137,226,0.85);
    box-shadow: 0 0 3px gray;
    font-size:15px;
    cursor: pointer;
    display: none;


}
.round-button:hover {
    background: rgba(70,80,226,0.85);
}

#Time{
	width: 80px;
}
#datepicker{
	width: 60px;
}


